@mixin user-select-btn {
    @extend%gray-bg-color;
    @extend%main-font-color-size;
    height: 34px;
    padding: 5px 10px 5px 12px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 20px;
    cursor: pointer;
   
    .arrow-img {
        height: 10px;
        width: 12px;
        padding-left: 2px;
    } 
}

@mixin user-select-lf-btn {
    @extend%gray-bg-color;
    @extend%main-font-color-size;
    height: 34px;
    padding: 5px 10px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 20px;
    cursor: pointer;
   
    .arrow-img {
        display: block;
        margin: 0 auto;
        height: 10px;
        width: 12px;  
    } 
}


