:root {
    //colors
    --header-text-color: rgb(235, 235, 235);
   
    --font-gray: rgb(101, 103, 110);
    
    --red: rgb(238, 95, 101);
    --bg-color-gray: rgb(243, 246, 255);
    --active-bg-color-gray: rgb(227, 229, 244);

    //borders
    --border: 1px solid rgb(219, 219, 219);

    //paddings
    --header-padding: 10px 20px;
    --user-select-padding: 5px 10px;

    //fint size
    --main-fz: 16px;
}