.wrap {
    display: flex;
    height: 100vh;   
    background-color: var(--bg-color-gray);    
}

.nav-sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    border-right: var(--border);
    overflow-y: auto;
}

.mail-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

